.book-grid {
    margin-right: 20%;
    margin-left: 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 15px;
}
.book-card {
    width: 32%;
    aspect-ratio: 243 / 378;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


.book-card .image-container {
    width: 100%;
    aspect-ratio: 243 / 176;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: #F0F4F4;
}
.book-card .no-image {
    background-image: url('../images/book-placeholder.png');
}
.book-card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.book-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0 18px 0 20px;
    padding-bottom: 18px;
}
.book-info .category {
    font-size: 13px;
    color: #9A9A9A;
    margin-top: 20px;
}
.book-info .title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 71px;
}
.book-info .author {
    font-size: 13px;
}
.book-info .publishing {
    font-size: 10px;
    margin-top: 11px;
    color: #9A9A9A;
}


.book-info .actions {
    margin-top: 9px;
    display: flex;
    justify-content: right;
    width: 100%;
}
.book-info .actions form {
    width: 44%;
}
.book-info .actions form button {
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 10px;
}


/*.available button {*/
/*    background-color: #FFCB44;*/
/*    color: black;*/
/*}*/
/*.available button:hover {*/
/*    background-color: #ffb800;*/
/*}*/
/*.available button:active {*/
/*    background-color: #c88e00;*/
/*}*/

.issued button {
    background-color: #C8FFEF;
    color: #066A69;
    pointer-events: none;
}
.not-available button {
    background-color: #F0F4F4;
    color: #066A69;
    pointer-events: none;
}
.pending button {
    background-color: #FFEDBD;
    color: #4A3B00;
    pointer-events: none;
}


/* Пагинация */
.pagination {
    margin-top: 30px;
    margin-bottom: 80px;
}

