* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFCB44;
    font-family: Involve, sans-serif;
    display: flex;
}
input {
    border: 1px solid #ccc;
    border-radius: 10px;
    outline-color: #3E4CD1;
    font-family: Involve, sans-serif;
}
select {
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Involve, sans-serif;
    background-color: white;
}
button {
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: Involve, sans-serif;
}
input[type="checkbox"] {
    accent-color: #045a59;
}


/* Боковое меню */
.sidebar {
    width: 18vw;
    min-height: 100vh;

    background-color: white;
    border-right: 1px solid #ccc;
}
.sidebar img {
    width: 100%;
    padding: 0 25px;
    margin-top: 30px;
    margin-bottom: 40px;
}
nav ul {
    list-style-type: none;
    margin-right: 10px;
}
nav ul li {
    padding: 18px 25px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: flex;
    gap: 14px;
}
nav ul li.active {
    background-color: #FFC107;
}
nav ul li.active a {
    font-weight: bold;
}
nav ul li a:hover {
    color: #9A9A9A;
}
nav ul li.active a:hover {
    color: #4a3b00;
}


/* Рабочее окно */
.content {
    width: 82vw;
    min-height: 100vh;
    background-color: #F0F0EC;
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}
.user-name {
    font-weight: bold;
    font-size: 20px;
}
.user-role {
    color: #9A9A9A;
    font-size: 12px;
    font-weight: lighter;
}
.logout {
    font-size: 15px;
    font-weight: normal;
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: black;
}
.logout:hover {
    color: #9A9A9A;
}


/* Содержимое страницы */
.main-content {
    margin-top: 12px;
}

/* Список доступных книг */
.book-grid {
    margin-right: 20%;
    margin-left: 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 15px;
}
.book-card {
    width: 32%;
    aspect-ratio: 243 / 378;
    background-color: white;
    border-radius: 5px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
    display: flex;
    flex-direction: column;
}
.book-card .image-container {
    width: 100%;
    aspect-ratio: 243 / 176;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: #F0F4F4;
}
.book-card .no-image {
    background-image: url('../images/book-placeholder.png');
}
.book-card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.book-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0 18px 0 20px;
    padding-bottom: 18px;
}
.book-info .category {
    font-size: 13px;
    color: #9A9A9A;
    margin-top: 20px;
}
.book-info .title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 71px;
}
.book-info .author {
    font-size: 13px;
}
.book-info .publishing {
    font-size: 10px;
    margin-top: 11px;
    color: #9A9A9A;
}
.book-info .actions {
    margin-top: 9px;
    display: flex;
    justify-content: right;
    width: 100%;
}
.book-info .actions button {
    width: 44%;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 10px;
}
/*.available {*/
/*    background-color: #ffcc33;*/
/*    color: white;*/
/*}*/
/*.on-hands {*/
/*    background-color: #66cc66;*/
/*    color: white;*/
/*}*/
/*.not-available {*/
/*    background-color: #ccc;*/
/*    color: #777;*/
/*}*/


/* Пагинация */
.pagination {
    display: flex;
    justify-content: center;
    gap: 4px;
}
.pagination a {
    text-decoration: none;
    padding: 8px 13px;
    color: #9A9A9A;
}
.pagination .active {
    background-color: #066A69;
    border-radius: 10px;
    color: white;
}
.pagination a:hover {
    color: rgba(48, 44, 44, 0.61);
    border-radius: 10px;
    font-weight: bold;
}
.pagination .active:hover {
    color: white;
    background-color: #048080;
}
.pagination .disabled {
    pointer-events: none;
}


/* Профиль */
.section {
    background-color: white;
    border-radius: 10px;
    padding: 25px 20px;
    margin-bottom: 25px;
    width: 790px;
}
.section .form-row {
    display: flex;
    justify-content: left;
    gap: 25px;
    margin-bottom: 25px;
}
.section label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
}
.section input {
    width: 362px;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.section .button-row {
    display: flex;
    justify-content: right;
}
.section button {
    background-color: #FFCB44;
    font-size: 13px;
    border-radius: 10px;
    width: 180px;
    height: 38px;
    text-align: center;
    display: inline-block;
}
.section button:hover {
    background-color: #ffb800;
    color: #4a3b00;
}
/*.alert {*/
/*    font-size: 12px;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.alert-success {*/
/*    color: #066A69;*/
/*}*/
/*.alert-danger {*/
/*    color: #E75254;*/
/*}*/

/* Авторизация */
.auth-banner {
    width: 50vw;
    height: 100vh;
    background-color: #F0F0EC;
}
.banner-img {
    position: fixed;
    bottom: -112px;
    z-index: 1000;
    width: 52vw;
}
.auth {
    width: 50vw;
    height: 100vh;
    background-color: white;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth img {
    width: 80%;
    margin-bottom: 50px;
}
.auth button {
    padding: 10px 0;
    background-color: #066A69;
    border-radius: 20px;
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
    color: white;
}
.auth button:hover {
    background-color: #045a59;
}
.auth button:active {
    background-color: #034544;
}
.auth form {
    width: 80%;
}
.auth label {
    font-size: 15px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.auth input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    color: #9A9A9A;
    font-size: 15px;
}
.auth .error {
    color: #E75254;
    font-size: 12px;
}

