* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFCB44;
    font-family: Involve, sans-serif;
    display: flex;
}
input {
    border: 1px solid #ccc;
    border-radius: 10px;
    outline-color: #3E4CD1;
    font-family: Involve, sans-serif;
}
select {
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Involve, sans-serif;
    background-color: white;
}
button {
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: Involve, sans-serif;
}

button.green {
    background-color: #066A69;
    color: white;
}
button.green:hover {
    background-color: #045a59;
}
button.green:active {
    background-color: #034544;
}

button.yellow {
    background-color: #FFCB44;
    color: black;
}
button.yellow:hover {
    background-color: #FFA500;
}
button.yellow:active {
    background-color: #FF8C00;
}

button.grey {
    background-color: #D9D9D9;
    color: black;
}
button.grey:hover {
    background-color: #C0C0C0;
}
button.grey:active {
    background-color: #A8A8A8;
}

/*input[type="checkbox"] {*/
/*    accent-color: #045a59;*/
/*}*/


/* Боковое меню */
.sidebar {
    width: 18vw;
    min-height: 100vh;

    background-color: white;
    border-right: 1px solid #ccc;
}
.sidebar img {
    width: 100%;
    padding: 0 25px;
    margin-top: 30px;
    margin-bottom: 40px;
}
nav ul {
    list-style-type: none;
    margin-right: 10px;
}
nav ul li {
    padding: 18px 25px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: flex;
    gap: 14px;
}
nav ul li.active {
    background-color: #FFC107;
}
nav ul li.active a {
    font-weight: bold;
}
nav ul li a:hover {
    color: #9A9A9A;
}
nav ul li.active a:hover {
    color: #4a3b00;
}


/* Рабочее окно */
.content {
    width: 82vw;
    min-height: 100vh;
    background-color: #F0F0EC;
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}
.user-name {
    font-weight: bold;
    font-size: 20px;
}
.user-role {
    color: #9A9A9A;
    font-size: 12px;
    font-weight: lighter;
}
.logout {
    font-size: 15px;
    font-weight: normal;
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: black;
}
.logout:hover {
    color: #9A9A9A;
}


/* Содержимое страницы */
.main-content {
    margin-top: 12px;
}

/* Пагинация */
.pagination {
    display: flex;
    justify-content: center;
    gap: 4px;
}
.pagination a {
    text-decoration: none;
    padding: 8px 13px;
    color: #9A9A9A;
}
.pagination .active {
    background-color: #066A69;
    border-radius: 10px;
    color: white;
}
.pagination a:hover {
    color: rgba(48, 44, 44, 0.61);
    border-radius: 10px;
    font-weight: bold;
}
.pagination .active:hover {
    color: white;
    background-color: #048080;
}
.pagination .disabled {
    pointer-events: none;
}


/* Профиль */
.section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    width: 790px;
}
.section .form-row {
    display: flex;
    justify-content: left;
    gap: 25px;
    margin-bottom: 25px;
}
.section label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
}
.section input {
    width: 362px;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.section .button-row {
    display: flex;
    justify-content: right;
}
.section button {
    font-size: 13px;
    border-radius: 10px;
    width: 180px;
    height: 38px;
    text-align: center;
    display: inline-block;
}


/* Авторизация */
.auth-banner {
    width: 50vw;
    height: 100vh;
    background-color: #F0F0EC;
}
.banner-img {
    position: fixed;
    bottom: -112px;
    z-index: 1000;
    width: 52vw;
}
.auth {
    width: 50vw;
    height: 100vh;
    background-color: white;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth img {
    width: 80%;
    margin-bottom: 50px;
}
.auth button {
    padding: 10px 0;
    border-radius: 20px;
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
}
.auth form {
    width: 80%;
}
.auth label {
    font-size: 15px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.auth input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    color: #9A9A9A;
    font-size: 15px;
}
.auth .error {
    color: #E75254;
    font-size: 12px;
}

