/* Панель управления */
.table-container {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    padding-bottom: 10px;
}
.controls {
    padding: 20px 23px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.sort-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    padding: 6px 8px;
    font-size: 10px;
}
.functions-right,
.functions-left {
    display: flex;
    gap: 10px;
}
.controls button {
    padding: 5px 10px;
    align-content: center;
    border-radius: 5px;
    font-size: 10px;
    background-color: #066A69;
    color: white;
}
.controls button span {
    margin-left: 5px;
}
.controls button:hover {
    background-color: #045a59;
    font-weight: bold;
}
.controls button:active {
    background-color: #034544;
}


/* Выбор сортировки */
.sort-container label {
    color: #9A9A9A;
    margin-right: 5px;
}
.sort-container select {
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    border: 0;
    border-radius: 0;
}
.sort-container select option {
    font-size: 10px;
    font-weight: normal;
}


/* Поле поиска */
.search-bar {
    position: relative;
    display: block;
    width: 200px;
}
.search-bar input {
    width: 100%;
    padding: 8px 35px 8px 12px;
    font-size: 10px;
}
.search-bar i {
    position: absolute;
    left: 89%;
    top: 50%;
    transform: translateY(-50%);
    color: #9A9A9A;
    font-size: 12px;
    pointer-events: none;
}


/* Данные */
table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}
table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
tr td:first-child,
tr th:first-child{
    padding-left: 23px;
}
tr:last-child td {
    border-bottom: 0;
}
td i {
    cursor: pointer;
}
.status {
    font-weight: bold;
}
.status.pending {
    color: #FFCB44;
}
.status.returned {
    color: #066A69;
}
.status.issued {
    color: #3E4CD1;
}
.expired {
    color: #E75254;
    font-weight: bold;
}
.selected {
    background-color: #f0f0f0;
}


/* Дополнение для пагинации */
.pagination a {
    border-radius: 10px;
    background-color: #f0efec;
    font-weight: bold;
}
.pagination .enabled {
    background-color: #066A69;
    color: white;
}
.pagination .enabled:hover {
    color: white;
    background-color: #048080;
}
.pagination .enabled:active {
    background-color: #034544;
}
.pagination .disabled {
    color: #cacac4;
}
