* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Involve, sans-serif;
    display: flex;
}


/* Боковое меню */
.sidebar {
    width: 18vw;
    height: 100vh;

    background-color: white;
    border-right: 1px solid #ccc;
}
.sidebar img {
    width: 100%;
    padding: 0 25px;
    margin-top: 30px;
    margin-bottom: 40px;
}
nav ul {
    list-style-type: none;
    margin-right: 10px;
}
nav ul li {
    padding: 18px 25px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: flex;
    gap: 14px;
}
nav ul li.active {
    background-color: #FFC107;
}
nav ul li.active a {
    font-weight: bold;
}
nav ul li a:hover {
    color: #9A9A9A;
}
nav ul li.active a:hover {
    color: #4a3b00;
}


/* Рабочее окно */
.content {
    width: 82vw;
    height: 100vh;
    background-color: #F0F0EC;
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}
.user-name {
    font-weight: bold;
    font-size: 20px;
}
.user-role {
    color: #9A9A9A;
    font-size: 13px;
}
.logout {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: black;
}
.logout:hover {
    color: #9A9A9A;
}
